<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
   <head style="opacity: 0.1;">
      <link href="{{ url_for('static', filename='web.css')}}" rel="stylesheet" />
      <title>CC Assignment</title>
   </head>

   
   <body>
    <header style="opacity:0.95;">
        <div class="topnav">
         <a href="/">Home</a>
         <a class="active" href="/attendance/">Attendance</a>
         <a href="/addemp/">Hire Employee</a>
         <a href="/delemp/">Fire Employees</a>
         <a href="/getemp/">Employee Details</a>

            
    </header>
       
       <div id = "container" style="height: 350pt;">
         <h1 style="color: black; text-align: center; font-size: 40px;">Attendance</h1>
         <label for="empID" style="font-size: 15pt; text-align: center; margin-right: 10%; font-weight: bold; margin-left: 25%;">Log In Time:</label>
         <label for="empID" style="font-size: 15pt; margin-left: 10%; font-weight: bold;">Checkout Time:</label><br>
         <label for="empID" style="font-size: 15pt; margin-right: 10%; margin-left: 25%; text-align: center;">{{ LoginTime }}</label>
         <label for="empID" style="font-size: 15pt; margin-left: 14%;">{{ Checkout }}</label><br>

         <label for="empID" style="font-size: 15pt; text-align: center; margin-right: 10%; font-weight: bold; margin-left: 40%;">Total Working Time:</label><br>
         <label for="empID" style="font-size: 15pt; margin-right: 10%; margin-left: 40%; text-align: center;">{{ TotalWorkingHours }}</label> <br>

         <a href="/">
            <button type="submit" class="buttonBack" style="margin-top: 3%;"formaction="http://3.134.115.108:80/getemp">BACK</button><br><br>
         </a>
            <!--/ lower-->
         </form>
      </div>
   </body>
</html>

<!-- a login in page with navigation panel at center?
 .navbar { 
    position: fixed;
    top: 0;
    width: 100%;
}













